# Bigscreen Survey - Global Environment Variables

# Application
APP_NAME=BigscreenSurvey
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

# Base de données MySQL (Docker / Local)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bigscreen
DB_USERNAME=bigscreen
DB_PASSWORD=password

# Frontend Vue.js
VITE_API_BASE_URL=http://localhost:8000/api
PORT=80
